body {
    font-family: Arial;
    margin: 0;
    background: #0f172a;
    color: white;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: #111827;
}

nav {
    display: flex;
}

nav a {
    margin-left: 15px;
    text-decoration: none;
    color: white;
}

/* HAMBURGER */

.hamburger {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

/* HERO */

.hero {
    text-align: center;
    padding: 100px 20px;
    background: #020617;
}

.hero button {
    padding: 12px 25px;
    background: #38bdf8;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* PRODUCTS */

.products {
    padding: 40px 10%;
    text-align: center;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    background: #1f2937;
    padding: 15px;
    border-radius: 10px;
    width: 240px;
    transition: 0.3s;
    text-align: center;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    background: white;
    border-radius: 10px;
}

.card:hover {
    transform: translateY(-5px);
}

.card button {
    margin-top: 10px;
    padding: 10px;
    background: #38bdf8;
    border: none;
    cursor: pointer;
}

/* FOOTER */

footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}

/* RESPONSIVE */

@media(max-width: 768px) {

    nav {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background: #111827;
        margin-top: 10px;
    }

    nav a {
        margin: 10px 0;
    }

    .hamburger {
        display: block;
    }

    .product-container {
        flex-direction: column;
        align-items: center;
    }
}

.show {
    display: flex !important;
}
